<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
      <h1>{{ $t("message.title") }}</h1>
      <h1>{{ $t("message.guide") }}</h1>
      <h1>{{ $t("message.checkout") }}</h1>
      <h1>{{ $t("message.plugins") }}</h1>
      <p>{{ $t("message.name") }}</p>
    </div>

    <select v-model="language" @click="changelanguage">
      <option value="en">EN</option>
      <option value="hb">HB</option>
    </select>

    <router-view />
  </div>
</template>

<script>
export default {
  data() {
    return {
      language: null,
    };
  },
  methods: {
    changelanguage() {
      localStorage.setItem("lang", this.language);
      window.location.reload();
    },
  },
  created() {
    if (localStorage.getItem("lang") == null) {
      localStorage.setItem("lang", "hb");
    }
    this.language = localStorage.getItem("lang");
  },
};
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
